body{
    background-color: #d5aaff;
    color:#000;
}
.titulo{
    background-color: #ecd4ff;
    text-align: center;
}
.fin{
    background-color: #b28dff;
}
.menu{
    background-color:#ecd4ff;
    text-align: center;
}
