body{
    background-color: #fbe4ff;
    color:#000
}
.titulo{
    background-color: #fcc2ff;
    text-align: center;
}
.home{
    background-color: #fcc2ff;
    text-align: center;
}
.video{
    background-color:#e9b0f2;
}

.fin{
    background-color:#f6a6ff
}