body{
    background-color: #fafcaf;
    color:#000
}
.titulo{
    background-color: #ffe4e1;
}
.home{
    background-color: #ffe4e1;
}
.video{
    background-color:#e9b0f2;
}
.titulo{
    background-color: #b0c2f2;
}
.fin{
    background-color: #fec9a7;
}