body{
    background-color: #e7ffac;
    color:#000;
}
.titulo{
    background-color: #dbffd6;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    background-color: #f3ffe3;
    text-align: center;
}
.fin{
    background-color: #bffcc6;
}
.imagen{
    text-align: center;
}
.desc{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.descimg{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.serie{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.boton {
    border: 1px solid #77dd77; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #77dd77; /*color botón*/
    color: #ffffd1; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }