body{
    background-color: #fdfd96;
    color:#000
}
.menu{
    background-color: #e2e37e;
    text-align: center;
}
.ranking{
    background-color:#fffec2
}
.top{
    background-color:#fffec2
}
.genero{
    background-color:#fffec2
}
.descripcion{
    background-color:#ffffd1 ;
}
.fin{
    background-color: #c8ca66;
}
.titulo{
    background-color: #fff5ba;
    text-align: center;
}