body{
    background-color: #fafcaf;
    color:#000
}
.menu{
    background-color: #ffe4e1;
}
.ranking{
    background-color:#cbaacb
}
.top{
    background-color:#cbaacb
}
.genero{
    background-color:#cbaacb
}
.descripcion{
    background-color:#b49fdc ;
}
.fin{
    background-color: #fec9a7;
}
.titulo{
    background-color: #b0c2f2;
}