body{
    background-color: #ffc9de;
    color: rgb(0, 0, 0);
}
.titulo{
    background-color: #ffcbc1;
    color: #000;
    text-align: center;
}
.menu{
    text-align: center;
    background-color:#ffbebc
}
table{
    background-color: #ff968a;
}
.fin{
    background-color: #ffabab;
}